.contact {
    font-family: 16px;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}
h4 {
	margin-left: 500px;
}
hr{
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 35px;
}

.contact .form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.contact input[type="email"],
.contact input[type="text"],
.contact textarea {
    display: flex;
    flex-direction: column;
    border: solid 1px #e8e8e8;
    padding: 10px 7px;
    margin-bottom: 15px;
    outline: none;
}

.contact .button {
	background: #da552f;
	border: solid 1px #da552f;
	color: white;
	cursor: pointer;
	padding: 10px 50px;
	text-align: center;
	text-transform: uppercase;
}

.contact .button:hover {
	background: #ea532a;
	border: solid 1px #ea532a;
}

.contact textarea {
	resize: none;
}