footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 2rem;     
  padding-left: 350px; 
}

.icon {
  /* padding-left: 100px; */
  padding-right: 30px;
  padding-bottom: 60px;
  margin-bottom: 50px;
}

span {
  font-size: 50px;
}