/* .layout {
    background-color: 'var(--bg)';
    color: 'var(--textNormal)';
    transition: 'color 0.2s ease-out, background 0.2s ease-out';
} */

.listLink {
    display: inline-block;
    margin-right: 1rem;
}

.home {
    text-shadow: none;
    background-image: none;
}


.header {
    margin-bottom: 1.5rem;
}

.nav {
    list-style: none;
    float: right;
}

h3{
    display: inline;
    font-size: 2rem;
}

