.layout {
    margin: 2rem auto;
    max-width: 900px;
    padding: 0 1rem;
}

.listLink {
    display: inline-block;
    margin-right: 1rem;
}

.home {
    text-shadow: none;
    background-image: none;
}


.header {
    margin-bottom: 1.5rem;
}

.nav {
    list-style: none;
    float: right;
}

h3{
    display: inline;
    font-size: 2rem;
    /* text-shadow: 2px 2px 0px #f3be89; */
}

